DJANGO_SETTINGS_MODULE=config.settings.dev
DJANGO_SECRET_KEY=cambia-esto-por-una-clave-local
DJANGO_DEBUG=True
DATABASE_URL=postgres://alerta:alerta@localhost:5432/alerta
REDIS_URL=redis://localhost:6379/0
CELERY_EAGER=False
APP_ENV=local
DJANGO_ADMIN_PATH=admin/